.down-arrow {
    position: absolute;
    background: none;
    border: none;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    color: white;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    z-index: 10;
    outline: none; /* Uklanja default border kod nekih browsera */
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

@media (max-width: 768px) {
    .down-arrow{
        bottom: 50px;
    }
}