html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

/* Dark mode scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
} 

/* Responsive Styles */
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}